#login-container {
  min-height: 80vh;
  min-width: 100vw;
  position: relative;
  background-image: url("../../assets/background3.jpg");
  /*<span>Photo by <a href="https://unsplash.com/@hanmengqi?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">HAN Mengqi</a> on <a href="https://unsplash.com/s/photos/happy-group-hiking-forest?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  .logo {
    max-height: 40px;
    margin: 0 5px;
    /*margin-bottom: 30px;
    padding-top: 10px;*/
  }
  .notification {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}